<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Azathoth</title>
</head>
<body>
  <!-- Header con barra de navegación -->
  <nav class="navbar">
  
  <div class="img-bg">
    <div class="containerBarraNavImg">
      <div class="barraNav">
        <a href="/">Inicio</a>
        <a class="current" href="/azathoth">Azathoth</a>
        <a href="/cthulhu">Cthulhu</a>
        <a href="/dagon">Dagon</a>
        <a href="/nightgaunts">Night-Gaunts</a>
        <a href="/nyarlathotep">Nyarlathotep</a>
        <a href="/ygolonac">Y'golonac</a>
      </div>
    </div>
  </div>
  </nav>
<!-- Detalles de cada monstruo-->
 <main class="detail-page">
<!-- Barra lateral con links a cada título del contenido -->
    <aside class="sidebar">
      <nav class="sidenav">
        <a href="#descripcion">Descripción</a>
        <a href="#necronomicon">En el Necronomicon</a>
        <a href="#mythos">Mythos</a>
        <a href="#inspiracion">Inspiración</a>
      </nav>
    </aside>
<!-- Contenido -->
    <article class="detail">
      <div class="info-text-img">
        <h2 id="descripcion">Descripción</h2>
        <hr>
          <p>No puede haber una descripción definitiva de Azathoth porque todos lo ven de manera diferente y siempre está cambiando.

            Según algunos relatos, es un enorme agujero negro sensible. (EXP: Guía de Russell para entidades interdimensionales)
            
            Existe evidencia de que la manifestación física de Azathoth en el universo es continua con un punto en la región central de la galaxia, también conocido como Sagitario A *, el agujero negro supermasivo en el centro de la Vía Láctea. (fuente necesaria)
            
            Por ejemplo, Ronald Shea entra a un templo después de visitar el bosque cerca de Goatswood y descubre un ídolo de seis metros que "representaba al dios Azathoth - Azathoth como había sido antes de su exilio. Afuera, consistía en un caparazón bivalvular sostenido sobre muchos pares de piernas flexibles. De la concha entreabierta se levantaron varios cilindros articulados, rematados con apéndices poliposos; y en la oscuridad dentro de la concha me pareció ver un horrible rostro bestial, sin boca, con ojos hundidos y cubierto de reluciente cabello negro ". (EXP: "Los insectos de Shaggai")
            
            Más tarde, Shae ve "algo rezuma en el pasillo: una forma gris pálida, que se expande y se arruga, que brillaba y se agitaba gelatinosamente mientras las partículas aún en movimiento caían libres; pero fue solo un atisbo". (EXP: "Los insectos de Shaggai")</p>
          <br>
        <h2 id="necronomicon">Necronomicon</h2>
        <hr>
          <p>
            Azathoth es una presencia maligna significativa en el Necronomicón, ya que tanto Albert Wilmarth (HPL: "El Susurrador en la Oscuridad") como Walter Gilman (HPL: "Los Sueños en la Casa de la Bruja") están horrorizados ante la mera mención de su nombre después de haber leído sobre esto en el tomo oculto.
            
            En el caso de Gilman, es la bruja Keziah Mason quien hace referencia a Azathoth mientras persigue sus sueños diciéndole: "Debe conocer al Hombre Negro e ir con todos ellos al trono de Azathoth en el centro del Caos definitivo ... Debe firmar en su poseer sangre el libro de Azathoth y tomar un nuevo nombre secreto ... Lo que le impidió ir con ella ... al trono del Caos donde las flautas delgadas caen sin pensar fue el hecho de que había visto el nombre 'Azathoth' en el Necronomicón, y sabía que representaba un horror primario demasiado horrible para describirlo ".
            
            También es retratado como un líder en un trastorno cósmico similar a la rebelión de Lucifer en la Biblia y está profetizado que regresará.
            
            “aquellos que se atrevieron a oponerse a los Dioses Mayores que gobernaron desde Betelgueze, los Grandes Antiguos que lucharon contra los Dioses Mayores ... fueron instruidos por Azathoth, que es el dios idiota ciego, y por Yog-Sothoth ... Tú, ciego idiota, tú nocivo Azathoth, surgirás de la mitad del Mundo donde todo es Caos y Destrucción, donde Él ha burbujeado y blasfemado en el centro de Ye, que es de Todas las Cosas, es decir, Infinito ... . „
            ~ AWD, acechador en el umbral</p>
          <br>
        <h2 id="mythos">Mythos</h2>
        <hr>
          <p>Gilman se despierta de otro sueño recordando "la fina y monótona flauta de una flauta invisible", y decide que "había recogido esa última concepción de lo que había leído en el Necronomicón sobre la entidad inconsciente Azathoth, que gobierna todo el tiempo y el espacio desde un trono negro curiosamente ambientado en el centro del Caos. "Más tarde teme encontrarse en los vórtices negros en espiral de ese vacío definitivo del Caos donde reina el sin sentido demonio-sultán Azathoth" (HPL: "Los sueños en la casa de las brujas").

            El poeta Edward Pickman Derby escribió una colección de "letras de pesadilla" llamada "Azathoth y otros horrores". (HPL: La cosa en el umbral).
            
            “... antiguas leyendas del Caos Definitivo, en cuyo centro se extiende el dios ciego y idiota Azathoth, Señor de todas las cosas, rodeado por su horda de bailarines inconscientes y amorfos, y arrullado por el fino y monótono sonido de una flauta demoníaca sostenida en un patas. „
            ~ HPL, "El perseguidor de la oscuridad"</p>
          <br>
        <h2 id="inspiracion">Inspiración</h2>
        <hr>
          <ul>
            <li>La primera mención registrada de Azathoth fue en una nota que Lovecraft se escribió a sí mismo en 1919 que decía simplemente: "AZATHOTH: nombre espantoso". (HPL: Commonplace book)</li>
            <li>El editor de Mythos, Robert M. Price, sostiene que Lovecraft podría haber combinado los nombres bíblicos de Anathoth (la ciudad natal de Jeremías) y Azazel (un demonio del desierto al que se sacrificó el chivo expiatorio, mencionado por Lovecraft en "The Dunwich Horror"). Price también señala el término alquímico "Azoth", que fue utilizado en el título de un libro de Arthur Edward Waite, el modelo del mago Ephraim Waite en "The Thing on the Doorstep" de Lovecraft. Otras posibles inspiraciones incluyen el nombre Thoth, el antiguo dios egipcio de la sabiduría.</li>
            <li>Otra nota que Lovecraft se hizo a sí mismo más tarde en 1919 se refiere a una idea para una historia: "Una terrible peregrinación para buscar el trono nocturno del lejano sultán-demonio Azathoth". (HPL: Commonplace Book # 61) Lovecraft relaciona este germen de la trama "Azathoth" con Vathek, una novela de William Beckford sobre un califa sobrenatural, (HPL: Selected Letters 1.104) pero sus intentos de convertir esta idea en una novela fracasaron, dejando solo un fragmento de 500 palabras publicado póstumamente, aunque el erudito Lovecraftiano Will Murray sugiere que Lovecraft recicló la idea en The Dream-Quest of Unknown Kadath.</li>
            <li>Lovecraft mencionó en cartas estar fascinado por los sonidos de la gaita de un vecino sirio. (HPL: Selected Letters 2.265)</li>
            <li>Price ve otra inspiración para Azathoth en Mana-Yood-Sushai de Lord Dunsany, de ADJ: The Gods of Pegana, una deidad creadora "que hizo los dioses y luego descansó". En la concepción de Dunsany, MANA-YOOD-SUSHAI duerme eternamente, arrullado por la música de una deidad menor que debe tocar el tambor para siempre, "porque si cesa por un instante, MANA-YOOD-SUSHAI comenzará a despertar, y habrá mundos ni dioses. no más." Este dios creador inconsciente acompañado por músicos sobrenaturales es un claro prototipo de Azathoth, argumenta Price.</li>
          </ul>
          <br>
      </div>
    </article>
 </main>
      
</body>
</html>

