<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Azathoth</title>
</head>
<body>
  <nav class="navbar">
  <!-- Header con barra de navegación -->
  <div class="img-bg">
    <div class="containerBarraNavImg">
      <div class="barraNav">
        <a href="/">Inicio</a>
        <a class="current" href="/azathoth">Azathoth</a>
        <a href="/cthulhu">Cthulhu</a>
        <a href="/dagon">Dagon</a>
        <a href="/nightgaunts">Night-Gaunts</a>
        <a href="/nyarlathotep">Nyarlathotep</a>
        <a href="/ygolonac">Y'golonac</a>
      </div>
    </div>
  </div>
  </nav>
<!-- Detalles de cada monstruo y una barra lateral con links internos a secciones del texto -->
  <main class="detail-page">
    <aside class="sidenav">
      <a href="#about">About</a>
      <a href="#services">Services</a>
      <a href="#clients">Clients</a>
      <a href="#contact">Contact</a>
    </aside>

    <article class="detail">
      <h1>Azathoth</h1>
      <p>This sidebar is as tall as its content (the links), and is always shown.</p>
      <p>Scroll down the page to see the result.</p>
      <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
      <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
      <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
      <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
      
    </article>  
  </main>
</body>
</html>

