<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Dagon</title>
</head>
<body>
 <!-- Header con barra de navegación -->
 <header>
  <nav class="navbar">
   <div class="img-bg">
    <div class="containerBarraNavImg">
      <ul class="barraNav">
        <li><a href="/">Inicio</a></li>
        <li><a href="/azathoth">Azathoth</a></li>
        <li><a href="/cthulhu">Cthulhu</a></li>
        <li><a class="current" href="/dagon">Dagon</a></li>
        <li><a href="/nightgaunts">Night-Gaunts</a></li>
        <li><a href="/nyarlathotep">Nyarlathotep</a></li>
        <li><a href="/ygolonac">Y'golonac</a></li>
      </ul>
    </div>
    </div>
  </nav>
 </header>
<!-- Detalles de cada monstruo-->
<main class="detail-page">
  <!-- Barra lateral con links a cada título del contenido -->
      <aside class="sidebar">
        <nav class="sidenav">
          <a href="#descripcion">Descripción</a>
          <a href="#apariencia">Apariencia</a>
          <a href="#concepto">Concepto</a>
          <a href="#relatos">Relatos</a>
          <a href="#curiosidades">Curiosidades</a>
        </nav>
      </aside>
  <!-- Contenido -->
      <article class="detail">
        <div class="info-text-img">
          <h2 id="descripcion">Descripción</h2>
          <hr>
            <p>
              Dagon es la deidad principal de los profundos y uno de los principales Primigenios del agua. Protagoniza un relato que lleva su nombre (Dagón) . Dagón era originalmente un dios asirio-babilónico de la fertilidad que se convirtió en una de las principales deidades semíticas del noroeste de Oriente Próximo. Al parecer, era un protector del grano (como símbolo de la fertilidad) y del pescado y/o la pesca (como símbolo de multiplicación). Era adorado por los primeros amorreos y los habitantes de las ciudades de Ebla (actual Tell Mardikh, Siria) y Ugarit (la moderna Ras Shamra, Siria, que fue una antigua ciudad cercana al Mediterráneo que contenía una gran variedad de escritos antiguos y pre-judeo-cristianos en sus santuarios). Dagon era también un miembro principal, o tal vez la cabeza del panteón de los filisteos.
            </p>
            <p>
              Su nombre aparece en el hebreo como דגון (en transcripción moderna Dagón), en ugarítico como dgn (probablemente vocalizado como Dagnu), y en acadio como Dagana o Daguna, que suele traducirse en traducciones al inglés como Dagan.
              En ugarítico, la raíz dgn también significa grano: en hebreo Dagan, y del samaritano Digan, es una palabra arcaica para grano.
              El autor fenicio Sanchuniathon también dice que Dagon significa Siton, que es la palabra griega para grano. Sanchuniathon explica además: "Y Dagón, después de descubrir el grano y el arado, fue llamado Zeus Arotrios". La palabra arotrios significa "labrador" o "perteneciente a la agricultura" (de la raíz ἄροτρον, "arado").
              Está tal vez relacionado con la palabra hebrea y judío-Medio aramea Dgn: abrir con un corte; o con la árabe dagn (دجن), lluvia.
              La teoría que relaciona el nombre hebreo DAG/dag, "pescado", se basa solamente en una lectura de Samuel 5:2-7. Pero, según fuentes grecolatinas, sería "granos de maíz".
            </p>
            <br>
          <h2 id="apariencia">Apariencia</h2>
          <hr>
            <p>
              "...Entonces, de repente, lo vi. Tras una leve agitación que delataba su ascensión a la superficie, la entidad surgió a la vista sobre las aguas oscuras. Inmenso, repugnante, aquella especie de Polifemo saltó hacia el monolito como un monstruo formidable y pesadillesco, y lo rodeó con sus brazos enormes y escamosos, al tiempo que inclinaba la cabeza y profería ciertos gritos acompasados. Creo que enloquecí entonces."
              Esta es la descripción que se da de él en el relato Dagón. Aunque apenas se ofrecen datos sobre su aspecto físico, popularmente se considera que no sería muy distinto del de un profundo de gran tamaño.
            </p>
            <br>
          <h2 id="concepto">Concepto</h2>
          <hr>
            <p>
              Dagón es mencionado en La Sombra sobre Innsmouth, donde se refieren a él como padre o dios de los Profundos. Según este relato, vive en el fondo del mar acompañado de su cónyuge, la Madre Hidra y guarda algún parentesco con Cthulhu. Se sirve de sus súbditos para controlar el pueblo costero de Innsmouth y su puerto, así como para reprimir a los curiosos que se acercan demasiado a su secreto. Vive bajo el Arrecife del Diablo y es adorado por la Orden Esotérica de Dagón. Pero la aparición más destacada se da en el relato Dagón, en el que se describe la persecución del monstruoso Dagón a un pobre marinero extraviado que entra en sus territorios.
            </p>
            <br>
          <h2 id="relatos">Relatos</h2>
          <hr>
              <h3>Obras de Lovecraft</h3>
              <h4>Dagon</h4>
              <p>
                En este relato aparece una criatura que supuestamente sería este dios.
              </p>
              <h4>La Sombra sobre Innsmouth</h4>
              <p>
                Se menciona a Dagón como parte de la triada venerada por los profundos.
              </p>
                          <br>
            <h2 id="curiosidades">Curiosidades</h2>
            <hr>
              <ul>
                <li>
                  En 2001 se estrenó una película hispano-estadounidense titulada "Dagon: la secta del mar", que toma como inspiración los dos relatos relacionados con Dagón, en especial La sombra sobre Innsmouth.
                </li>
                <li>
                  Dagon es uno de los dioses a los cuales se rinde culto en el videojuego Call of Cthulhu: Dark Corners of the Earth. Además, es un jefe contra el que se debe luchar. Debido a su tamaño, el jugador tendrá que usar el armamento del barco en el que navega para poder derrotarlo.
                </li>
                <li>
                  En el juego de mesa Arkham Horror, el jugador toma el papel de evitar que Dagon, entre otros, desencadene su poder. En la expansión "Innsmouth Horror", Dagon toma un papel más activo como heraldo de Cthulhu.
                </li>
                <li>
                  En el anime Digimon 02, Dragomon (también llamado Dagomon) es el dios depuesto del Mar Oscuro, viviendo en sus profundidades. Es adorado por unos seres que toman el disfraz de Divermon/Hangyomon, Digimon anfibios, quienes buscan a una de las protagonistas para "ser su prometida" (en la versión original, tener descendencia con ellos), haciendo alusión a las relaciones entre humanos y profundos.
                </li>
                <li>
                  Al personaje Abe Sapien, creado por Mike Mignola, se le ha llamado con el epíteto de "hijo de Dagon", haciendo alusión a su origen.
                </li>
                <li>
                  "Little Innsmouth" es una ciudad que aparece en la franquicia Skullgirls, la cual está habitada por una raza de seres parecidos a peces llamados "dagonianos", en referencia a Dagon.
                </li>
                <li>
                  En la serie "Ben 10: Supremacía Alienígena" hay un demonio llamado "Diagon", el cual puede estar basado en Dagón. También comparte algunos rasgos con Cthulhu.
                </li>
                <li>
                  En el universo de Doctor Who, Dagón es el dios tutelar de los diablos de mar, seres que a su vez se asemejan a profundos.
                </li>
                <li>
                  En las historias de Conan hay múltiples menciones y referencias al dios Dagón e inclusive hace su aparición. Es adaptado a la obra, pero conserva su naturaleza de dios del agua y de la vida acuática.
                </li>
              </ul>
              <br>          
        </div>
      </article>
   </main>
        
  </body>
  </html>
  

