<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>H.P. Lovecraft's Monsters</title>
</head>
<body>
  <!-- Barra de navegación con imagen de fondo -->
    <nav class="navbar">
      <div class="img-bg">
        <div class="containerBarraNavImg">
          <ul class="barraNav">
            <li><a class="current" href="/">Inicio</a></li>
            <li><a href="/azathoth">Azathoth</a></li>
            <li><a href="/cthulhu">Cthulhu</a></li>
            <li><a href="/dagon">Dagon</a></li>
            <li><a href="/nightgaunts">Night-Gaunts</a></li>
            <li><a href="/nyarlathotep">Nyarlathotep</a></li>
            <li><a href="/ygolonac">Y'golonac</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Listado de los monstruos -->
    <main class="home-site">
        <div class="box-item">
          <div class="img-item"><img src="/img/azathoth.png" alt="img-monster"></div>
          <div class="description-item">
            <a href="/azathoth">Azathoth</a>
          </div>
        </div>
        <div class="box-item">
          <div class="img-item"><img src="/img/cthulhu.png" alt="img-monster"></div>
          <div class="description-item">
            <a href="/cthulhu">Cthulhu</a>
          </div>
        </div>
        <div class="box-item">
          <div class="img-item"><img src="/img/dagon.png" alt="img-monster"></div>
          <div class="description-item">
            <a href="/dagon">Dagon</a>
          </div>
        </div>
        <div class="box-item">
          <div class="img-item"><img src="/img/nightgaunts.png" alt="img-monster"></div>
          <div class="description-item">
            <a href="/nightgaunts">Night-Gaunts</a>
          </div>
        </div>
        <div class="box-item">
          <div class="img-item"><img src="/img/nyarlathotep.png" alt="img-monster"></div>
            <div class="description-item">
            <a href="/nyarlathotep">Nyarlathotep</a>
          </div>
        </div>
        <div class="box-item">
          <div class="img-item"><img src="/img/ygolonac.png" alt="img-monster"></div>
        <div class="description-item">
          <a href="/ygolonac">Y'golonac</a>
        </div>
        </div>
      </main>

</body>
</html>