<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Nyarlathotep</title>
</head>
<body>
  <!-- Header con barra de navegación -->
  <nav class="navbar">
  
  <div class="img-bg">
    <div class="containerBarraNavImg">
      <div class="barraNav">
        <a href="/">Inicio</a>
        <a href="/azathoth">Azathoth</a>
        <a href="/cthulhu">Cthulhu</a>
        <a href="/dagon">Dagon</a>
        <a class="current" href="/nightgaunts">Night-Gaunts</a>
        <a href="/nyarlathotep">Nyarlathotep</a>
        <a href="/ygolonac">Y'golonac</a>
      </div>
    </div>
  </div>
  </nav>
<!-- Detalles de cada monstruo-->
<main class="detail-page">
  <!-- Barra lateral con links a cada título del contenido -->
      <aside class="sidebar">
        <nav class="sidenav">
          <a href="#descripcion">Descripción</a>
          <a href="#apariencia">Apariencia</a>
          <a href="#concepto">Concepto</a>
          <a href="#relatos">Relatos</a>
          <a href="#curiosidades">Curiosidades</a>
        </nav>
      </aside>
  <!-- Contenido -->
      <article class="detail">
        <div class="info-text-img">
          <h2 id="descripcion">Descripción</h2>
          <hr>
            <p>
              Los ángeles descarnados de la noche (en inglés llamados "Night-Gaunts", nombre que también se ha traducido como "descarnadas alimañas de la noche" y "noctivagos demacrados") son unas criaturas que desempeñan un papel destacado en La búsqueda onírica de la desconocida Kadath. 
            </p>
          <br>
          <h2 id="apariencia">Apariencia</h2>
          <hr>
            <p>
              En una carta, Lovecraft los describía como "entidades negras, aladas y gomosas". También es posible encontrar una vaga descripción en La  búsqueda onírica de la desconocida Kadath:
            </p>
            <p>
              "...Recortada contra el vago resplandor de la Vía Láctea, le pareció ver la silueta terrible de una criatura flaca y monstruosa, provista   de cuernos, de cola, y alas de murciélago. Otros seres habían comenzado también a recortar sus sombras contra las estrellas de poniente,  como si una bandada de pájaros inconcebibles saliera aleteando con torpes y silenciosos movimientos de aquella caverna inaccesible de la   pared del precipicio. Luego, una especie de tentáculo frío y gomoso le agarró por el cuello, y otra cosa le aprisionó los pies, sintiéndose   elevado y suspendido en el espacio (...) los infiernos exteriores son totalmente inocuos para unos seres voladores, mudos y silenciosos   como ellos."
            </p>
            <br>
          <h2 id="concepto">Concepto</h2>
          <hr>
            <p>
              Los ángeles descarnados de la noche son unas criaturas que suelen estar al servicio de algunos dioses, entre los que destacan el Dios Arquetípico Nodens y el Dios Exterior Yibb-Tstll, pero que también pueden ser controlados por criaturas menores como los gules.
            </p>
            <p>
              En cuanto a sus relaciones con otras razas, cabe señalar que los shantaks sienten por estos seres una aversión profunda que les lleva a rehuirles siempre que pueden. Pero, a pesar de esto, los ángeles descarnados son, generalmente, una raza sociable y, en general, amistosa. De hecho, a pesar de tener una cola peligrosamente afilada y pese a que suene ridículo, los ángeles descarnados prefieren reducir a sus víctimas mediante cosquillas.
            </p>
            <p>
              Varios aparecen en el cómic Fall of Cthulhu. Residentes de las Tierras del Sueño, aparecen cazando junto a Nodens.
            </p>
            <br>
          <h2 id="relatos">Relatos</h2>
          <hr>
              <h3>Obras de Howard Phillips Lovecraft</h3>
              <h4>La búsqueda onírica de la desconocida Kadath</h4>
              <p>
                En las Tierras del sueño, Randolph Carter se encuentra en varios momentos con estas criaturas; en primera instancia, es capturado por ellas mientras observaba el rostro de los dioses de la tierra tallado en el Ngranek, y llevado hacia el valle de Pnath, cerca de las moradas de los gules. Posteriormente, dirigidos por el gul Pickman, los ángeles descarnados de la noche y un ejército de gules acompañan a Carter en una batida contra las bestias lunares y los hombres de Leng, y finalmente llevan al aventurero hacia el castillo de Kadath, la desconocida.
              </p>
            <br>          
        </div>
      </article>
   </main>
        
  
  </body>
</html>
  

