<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Nyarlathotep</title>
</head>
<body>
<!-- Barra de navegación -->
    <div class="img-bg">
        <div class="container">
          <div class="barraNav">
            <a href="/">Inicio</a>
            <a href="/azathoth">Azathoth</a>
            <a href="/cthulhu">Cthulhu</a>
            <a href="/dagon">Dagon</a>
            <a href="/nightgaunts">Night-Gaunts</a>
            <a class="current" href="/nyarlathotep">Nyarlathotep</a>
            <a href="/ygolonac">Y'golonac</a>
          </div>
        </div>
      </div>  
</body>
</html>