*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: black;
  background-image: url("/img/imagenBG.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

nav.navbar {
font-family: Arial, Helvetica, sans-serif;
max-width: 1920px;
box-sizing: border-box;
}

.img-bg {
    /* La imagen que se usa en la barra de navegación */
    background-image: url("/img/navbarImage.png");
    box-sizing: border-box;
    min-height:175px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column-reverse;
  }
    /* Posiciona la barra de navegación dentro de la imagen */
  .containerBarraNavImg {
    width: 100%;
  }
    /* La barra de navegación */
  .barraNav {
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    background-color: #333;
    list-style-type: none;
  }
    /* Enlaces de la barra */
  .barraNav a {
    float: center;
    color: #ddd;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
  }
  /* Efecto al pasar el mouse sobre un enlace de */
    .barraNav a:hover {
    background-color: black;
    color: #ddd;
  }
  /* El enlace de la página actual tendrá un efecto activo */
    .barraNav a.current {
        background-color: black;
        
  }

  /* Listado de monstruos en Inicio*/
  /* Grid de 3 columnas y 2 filas conteniendo los items de imagenes */
    main.home-site {
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 300px 300px;
    width: 100%;
    justify-content: space-evenly;
    grid-row-gap: 80px;
    padding-top: 50px;
    }
    

    .img-item {
      height: 280px;
      opacity: 1;
      transition: .5s ease;
      backface-visibility: hidden;
      background-color: rgb(37, 37, 51);
    }

    .img-item img {
      height: 100%;
      
    }
    .description-item {
      overflow: hidden;
      text-align: center;
      padding: 5px;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      text-overflow: ellipsis;
      width: 90%;
      font-size: 25px;
      text-transform: uppercase;
      white-space: nowrap;
      letter-spacing: 4px;
      color: #ddd;
      

    }
    .description-item a {
      color: #ddd;
      text-decoration: none;
    }

    .box-item {
      position: relative;
      
    }
    .box-item:hover .img-item img{
    opacity: 0.4;
    }

    .box-item:hover .description-item {
      opacity: 1;
    }
    
    /* Detalles de cada monstruo en sus respectivas páginas*/
    .detail-page {
      display: flex;
    }

    .sidebar {
      width: 10%;
      position: fixed;
      background: #333;
      overflow-x: hidden;
      padding: 8px 0;
    }
    
    .sidenav a {
      padding: 6px 8px 6px 16px;
      text-decoration: none;
      font-size: 22px;
      color: White;
      display: block;
    }
    
    .sidenav a:hover {
      background-color: black;
    }
    
    .detail {
      margin-top: 20px;
      margin-left: 200px;
      width: 80%;
      background-color: rgb(88, 87, 87);
      font-size: 18px;
    }
    
    .info-text-img {
      margin: 90px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      color: rgb(235, 230, 230);
      text-align: justify;
      line-height: 120%;
    }